<div class="relative">
    <div class="right-4 w-48 h-72 md:w-60 md:h-96 z-30 absolute"/>
</div>

<style>
    .z-30{
        background: linear-gradient(
            190deg, 
            #4c489e, 
            #a559a3 33%, 
            #d24896 66%, 
            #ed9ac2
        );
        transform: rotateZ(-50deg) translateX(130px) scaleY(1.8) translateY(-30px);
        transition: ease 0.5s;  
    }
</style>